:root {
  --n-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --n-bezier-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --n-ripple-duration: 0.6s;
  --n-opacity-disabled: 0.5;
  --n-wave-opacity: 0.6;
  --n-font-weight: 400;
  --n-color: #18a058;
  --n-color-hover: #36ad6a;
  --n-color-pressed: #0c7a43;
  --n-color-focus: #36ad6a;
  --n-color-disabled: #18a058;
  --n-ripple-color: #18a058;
  --n-text-color: #fff;
  --n-text-color-hover: #fff;
  --n-text-color-pressed: #fff;
  --n-text-color-focus: #fff;
  --n-text-color-disabled: #fff;
  --n-border: 1px solid #18a058;
  --n-border-hover: 1px solid #36ad6a;
  --n-border-pressed: 1px solid #0c7a43;
  --n-border-focus: 1px solid #36ad6a;
  --n-border-disabled: 1px solid #18a058;
}
